{% extends '_layouts/base.html.twig' %}

{% set prod = '' %}
{% for product in data.products if product.slug == url_params.product_slug %}
    {% set prod = product %}
{% endfor %}

{% block content %}
    <h2>{{ prod.name }}</h2>
    <p>{{ prod.desc }}</p>
    <img src="{{ image('images/' ~ prod.image) }}" />
{% endblock %}
